sudo: true
language: ruby
rvm:
  - 2.2.2
  - 2.3.0
  - 2.3.1
  - 2.3.2
  - 2.3.3

  # Because ActiveSupport-4.2 requires json-1.8.3, but json-1.8.3 is not compatible with ruby 2.4
  # https://github.com/flori/json/issues/303
  #- 2.4.0

before_script:
  - yes | sudo apt-get -y install mongodb
  - ps aux|grep mongo
  - /usr/bin/mongod --config /etc/mongod.conf &
  - ps aux|grep mongo

script: bundle exec rspec spec
